<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Users Shell</title>
    {% comment %}
    {% load static %} 
    <link rel="stylesheet" href="{% static 'style.css'%}">
    {% endcomment %}
</head>

    <body>
        <div class="container-flush m-3">

            <div class="row align-items-center">
                <h1 class="col text-center text-dark">
                    All the Users
                </h1>
            </div>

            {% comment %}  
            <div class="row p-2" id="gold">
                    Placeholder: 
                    <div class="font-weight-bold border border-dark ml-4 p-1">Test</div>
            </div>
            {% endcomment %}

            {% comment %} All users listed on a table here. {% endcomment %}
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>

        {% comment %} Activity log for our past actions in the game.
        <div class="container-flush m-3 font-weight-bold">Activities:</div>
        <div class="container-flush m-3 border border-dark p-2">
            {% for line in request.session.activities reversed %}
                <p class="{{line.result}} m-0">{{ line.msg }}</p>
            {% endfor %}
        </div>
        {% endcomment %}


        <div class="row align-items-center">
            <h1 class="col text-center text-dark">
                Add a User
            </h1>
        </div>


        <form action="/Add" method="post">
            <div class="form-row m-1">
                <div class="col-4">
                    <label for="first_name" class="col col-form-label px-1">First Name</label>
                    <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="col-4">
                    <label for="last_name" class="col col-form-label px-1">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
            <div class="form-row m-1">
                <div class="col-4">
                    <label for="email" class="col col-form-label px-1">Email</label>
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-4">
                    <label for="age" class="col col-form-label px-1">Age</label>
                    <input type="text" class="form-control" placeholder="Age">
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary px-5 py-1 my-2 ml-2">Add</button>
        </form>

    </body>


</html>